/*========================================================
 *   @file:          typography.scss
 *   @description:   custom styles
 *   @author:        Alex Shamshin
 *   @contact:       shamshin.alexandr@gmail.com
 *   @date:          08.09.2018
=========================================================*/

/* ==========================================================================
Typography
========================================================================== */

@font-face {
    font-family: "ExoThin";
    src: url("../fonts/Exo2.0-Thin.otf");
    font-style: normal;
    font-weight: 100;
}