/*========================================================
 *   @file:          variables.scss
 *   @description:   custom styles
 *   @author:        Alex Shamshin
 *   @contact:       shamshin.alexandr@gmail.com
 *   @date:          08.09.2018
=========================================================*/

//Colors
$white: #fff;
$black: #000;
$gray: #666;
$bg_feed: #f2f2f2;

$default_color: #1698d9;
$default_color_hover:#2ea8e6;
$selected: #d91667;
$selected_hover: #e62e7a;
$disabled: #b3b3b3;
$yellow: #ff6;

//Typography

$fontE: 'ExoThin', sans-serif;
$fontT: "Trebuchet MS", sans-serif;

$light: 100;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$font-size1: 13px;
$font-size2: 16px;
$font-size3: 24px;
$font-size4: 36px;
$font-size5: 48px;
